.header {
  height: 40px;
  background-color: #ec0789;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
.header__info {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.header__info h1 {
  color: #fafafa;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.header__logo img {
  height: 40px;
}
.header__menu {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.header__menu .header__cart-show {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.header__menu .header__cart-show > p {
  font-size: 24px;
  font-weight: bold;
  color: #fafafa;
}
.header__menu .header__logout-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px
}
.header__menu .header__logout-button > p {
  color: #fff;
  font-weight: 700;
}
